<!-- ******************* Header ******************* -->
  <div class="container-fluid">
    <div class="row">
      <div>
        <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/About/2560x1200about.jpg", class:"index-header-img" %>
        <div class="container p-t-5">
          <div class="row">
            <div class="col-sm-12">
              <h3 class="about-tagline">Falconwood Park is an all-encompassing arts and entertainment venue specializing in weddings, concerts, drive-in movies, and home of Hullabaloo Music Festival.</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- ******************* /Header ******************* -->

<!-- ******************* About ******************* -->
  <div id="about"></div>
  <div class="container">
    <div class="row m-t-10">
      <div class="col-sm-12 col-md-6">
        <h1 class="text-center p-b-5 blue"><span class="secondary-accent-font larger">About our</span><br><span class="main-accent-font larger">Park</span></h1>
        <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/About/about-about.png", class:"about-img"%>
      </div>
      <div class="col-sm-12 col-md-6">
        <p>Falconwood Park is quickly becoming one of the most popular places to book a wedding, family gathering, or company outing with our unique indoor/outdoor space, flexibility on catering, and affordable prices with a focus on value! We have 26 acres of shaded green space with sand volleyball, badminton, horseshoes, a playground, and a vintage Ferris wheel. Our 6,000 square foot rustic lodge with open exposed beam wood ceilings, full-service bar, and kitchen can meet all of your catering needs while our 3,000 square foot patio with Edison bulbs and multiple staging options set the mood for your entertainment.</p>

        <p>Our large outdoor stage is fast becoming one of the area's most popular locations for producers or national acts to book their shows in the Omaha market. We are known as the Falconwood Park Camphitheater as most of our events allow camping! We would rather you stay safe after one of our events and sleep under the stars or in one of our glamorous camping tents.</p>

        <p>Hullabaloo Music Festival is now in its seventh year and is well known for bringing in a mix of up and coming regional artists and the hottest touring national acts in the scene. We have a large scale production with an intimate, boutique festival feel as well as a family friendly environment. Take a walk through our electric forest art installation or paint a canvas in our community art area. Whatever you do, make sure you have fun and check out an event at Falconwood Park this and every season!</p>
        <div class="button-container">
          <a href="mailto:falconwoodpark@gmail.com" class="btn btn-secondary action-button" role="button">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
<!-- ******************* /About ******************* -->

<!-- ******************* Page Tabs ******************* -->
  <div id="details"></div>
  <div class="container-fluid">
    <div class="row m-t-10 background-black"
      <div class="col-sm-12">
        <div class="tab">
          <a href="javascript:void(0)" class="tablinks three" onclick="openCity(event, 'Gallery')"><h3>Falconwood Faces</h3></a>
          <a href="javascript:void(0)" class="tablinks three" onclick="openCity(event, 'Lineup')" id="defaultOpen"><h3>Lineup</h3></a>
          <a href="javascript:void(0)" class="tablinks three" onclick="openCity(event, 'Calendar')"><h3>Calendar</h3></a>
        </div>

        <div id="Gallery" class="tabcontent container">
          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12">
              <h1 class="yellow text-center p-b-5 main-accent-font larger">Meet Our Staff!</h1>
              <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-3">
                  <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/About/Brandon.jpg", class:"staff-photo" %>
                  <p class="text-center">Brandon Miller<br>Owner &amp; Swagadocious Sultan of Soirees</p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                  <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/About/marla.jpg", class:"staff-photo" %>
                  <p class="text-center">Marla Miller<br>Owner &amp; Director of Directing</p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                  <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/About/Jim.jpg", class:"staff-photo" %>
                  <p class="text-center">Jim Miller<br>Owner &amp; Idea Alchemist</p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                  <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/About/Bill.jpg", class:"staff-photo" %>
                  <p class="text-center">Bill Miller<br>Owner &amp; Park Ranger</p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                  <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/About/cory.jpg", class:"staff-photo" %>
                  <p class="text-center">Cory<br>The Key Master</p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                  <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/About/Christina.jpg", class:"staff-photo" %>
                  <p class="text-center">Christina<br>Chief Libations Officer</p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                  <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/About/Jon.jpg", class:"staff-photo" %>
                  <p class="text-center">Jon<br>Social Media Sith Lord</p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                  <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/About/Courtney.jpg", class:"staff-photo" %>
                  <p class="text-center">Duchess<br>Website Workaholic</p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                  <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/About/Vicky.jpg", class:"staff-photo" %>
                  <p class="text-center">Vicky<br>Super Shopper &amp; Chief Ornamenter</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="Lineup" class="tabcontent container">

          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Lineup/FFOmaha2017_Poster_11x17_Reveal7.jpg", class:"half-col-img" %>
                </div>
                <div class="col-sm-12 col-md-6">
                  <h2 class="yellow text-center secondary-accent-font larger"><span class="lineup-title">FishFest</span></h2>
                  <h3 class="text-center">July 28, 2017 - July 30, 2017</h3>
                  <div class="button-container">
                    <%= link_to "Purchase Tickets", "http://www.fishfestomaha.com/", class: "btn btn-secondary action-button", role: "button", :target => "_blank" %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr>

          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Lineup/Hullabaloo+Courtney.jpg", class:"half-col-img" %>
                </div>
                <div class="col-sm-12 col-md-6">
                  <h2 class="yellow text-center secondary-accent-font larger"><span class="lineup-title">Hullabaloo</span><br>Music &amp; Camping Festival</h2>
                  <h3 class="text-center ">August 3, 2017 - August 5, 2017</h3>
                  <div class="button-container">
                    <%= link_to "Purchase Tickets", "https://www.eventbrite.com/e/hullabaloo-2017-tickets-32895449174", class: "btn btn-secondary action-button", role: "button", :target => "_blank" %>
                  </div>
                  <div class="button-container">
                    <%= link_to image_tag("https://s3-us-west-2.amazonaws.com/falconwood/social-media/facebook.png", :class => "tab-social-media-icon"), "https://www.facebook.com/events/1879134145704315/", :target => "_blank" %>

                    <%= link_to image_tag("https://s3-us-west-2.amazonaws.com/falconwood/social-media/website-link-yellow.png", :class => "tab-social-media-icon"), "http://www.hullabaloomusicfestival.com/", :target => "_blank" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="Calendar" class="tabcontent full-width">
          <div class="responsiveCal">
            <iframe src="https://calendar.google.com/calendar/embed?src=s15ajnt500binbtc9mt93ba5ls%40group.calendar.google.com&amp;ctz=America/Chicago" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- ******************* /Page Tabs ******************* -->