<!-- ******************* Header ******************* -->
  <div class="container-fluid">
    <div class="row">
      <div>
        <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/2560x1200music.jpg", class:"index-header-img" %>
      </div>
    </div>
  </div>
<!-- ******************* /Header ******************* -->

<!-- ******************* About ******************* -->
  <div id="about"></div>
  <div class="container">
    <div class="row content-container">
      <div class="col-sm-12 col-md-6">
        <h1 class="text-center content-header"><span class="accent-font-2">About our</span><br><span class="accent-font-1">Festivals</span></h1>
        <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/about-music.jpg", class:"about-img"%>
      </div>
      <div class="col-sm-12 col-md-6">
        <p>Falconwood Park is proud to be the home of Hullabaloo, FishFest Omaha, and TinyFest Midwest!  Our large outdoor stage or our intimate indoor venue have fast become the area's most popular locations for producers or national acts to book their shows in the Omaha market. We are known as the Falconwood Park Camphitheater as most of our events allow camping! We would rather you stay safe after one of our events and sleep under the stars or in one of our glamorous camping tents.</p>

        <div class="button-container">
          <%= link_to "About Our Park", about_path, class: "btn btn-secondary action-button", role: "button" %>
        </div>
      </div>
    </div>
  </div>
<!-- ******************* /About ******************* -->

<!-- ******************* Page Tabs ******************* -->
  <div id="details"></div>
  <div class="container-fluid">
    <div class="row content-container background-black md-grey-font"
      <div class="col-sm-12">
        <div class="tab">
          <a href="javascript:void(0)" class="tablinks four" onclick="openCity(event, 'Details')"><h3>Details</h3></a>
          <a href="javascript:void(0)" class="tablinks four" onclick="openCity(event, 'Gallery')"><h3>Gallery</h3></a>
          <a href="javascript:void(0)" class="tablinks four" onclick="openCity(event, 'Lineup')" id="defaultOpen"><h3>Lineup</h3></a>
          <a href="javascript:void(0)" class="tablinks four" onclick="openCity(event, 'Calendar')"><h3>Calendar</h3></a>
        </div>

        <div id="Details" class="tabcontent container">
          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12">
              <h1 class="yellow text-center p-t-5 accent-font-1">Booking</h1>
              <p>To book your concert, festival, or event at Falconwood Park email Brandon Miller at <a class="black-background-link" href="mailto:falconwoodpark@gmail.com">falconwoodpark@gmail.com</a>.   We will work with you to provide the best environment for the success of your event.  Falconwood Park can provide all the production or step back and let you take the reins.</p>
            </div>
          </div>
        </div>

        <div id="Gallery" class="tabcontent full-width">
          <div class="container-fluid p-0">
            <div id="gallery" style="display:none;">
              <a href="#">
              <img alt="Photo courtesy of Take Your Dream Photography"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/Thumbs/kris-lager-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/kris-lager.jpg"
                   data-description="Kris Lager Band on stage in front of cheering crowd at Falconwood Park"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Great Plains James"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/Thumbs/sophistafunk-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/sophistafunk.jpg"
                   data-description="Sophistafunk on stage in front of cheering crowd at Falconwood Park"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Scott Carson Ausburn"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/Thumbs/Firespinning-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/Firespinning.jpg"
                   data-description="Women spinning hoops of fire at Falconwood Park"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Scott Carson Ausburn"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/Thumbs/Jon-Wayne-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/Jon-Wayne.jpg"
                   data-description="John Wayne and the pain playing on stage at Falconwood Park"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Duchess Burns"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/Thumbs/duchess-forest-lights-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/duchess-forest-lights.jpg"
                   data-description="Falconwood Park forest lights"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Great Plains James"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/Thumbs/james-dean-forest-lights-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/james-dean-forest-lights.jpg"
                   data-description="Falconwood Park forest lights"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Great Plains James"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/Thumbs/flamingos-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/flamingos.jpg"
                   data-description="Plastic pink flamingos with glow light necklaces at Falconwood Park"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Great Plains James"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/Thumbs/KLB-on-stage-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/KLB-on-stage.jpg"
                   data-description="Kris Lager playing guitar on stage at Falconwood Park"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Great Plains James"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/Thumbs/henry-and-the-invisibles-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/henry-and-the-invisibles.jpg"
                   data-description="Henry and the Invisibles playing on stage at Falconwood Park"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Great Plains James"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/Thumbs/manic-focus-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/manic-focus.jpg"
                   data-description="Manic Focus playing on stage at Falconwood Park"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Great Plains James"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/Thumbs/Hullabaloo-Crowd-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/Hullabaloo-Crowd.jpg"
                   data-description="Extra Fresh playing on stage at Falconwood Park"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Great Plains James"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/Thumbs/male-fire-dancer-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Live+Music/male-fire-dancer.jpg"
                   data-description="Fire Dancer"
                   style="display:none">
              </a>
            </div>
          </div><!-- /container -->
        </div>

        <div id="Lineup" class="tabcontent container">
          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Lineup/falconwood-fourth-2018-lineup.jpg", class:"half-col-img" %>
                </div>
                <div class="col-sm-12 col-md-6">
                  <h4 class="text-center">Falconwood Fourth Presents:</h4>
                  <h2 class="yellow text-center accent-font-2"><span class="lineup-title">ZOSO</span><br>The Ultimate Led Zeppelin Experience</h2>
                  <h3 class="text-center yellow">July 6, 2018</h3>
                  <h4 class="text-center">Gates Open: <span class="yellow">5:00 p.m.</span><br>Show Start Time: <span class="yellow">7:00 p.m.</span><br>Ticket Price:<span class="yellow"> FREE ADMISSION</span></h4>
                  <h4 class="text-center"><span class="accent-font-2 yellow-font">Professional Fireworks show to follow</span></h4>

                  <p class="text-center p-t-5">Brought to you by:</p>
                  <h3 class="text-center"><span class="accent-font-2 yellow-font">Greg Young Chevrolet Chrysler Dodge Jepp Ram in Plattsmouth!</span></h3>

                  <div class="button-container">
                    <%= link_to image_tag("https://s3-us-west-2.amazonaws.com/falconwood/social-media/facebook.png", :class => "tab-social-media-icon"), "https://www.facebook.com/events/179844962733751/", :target => "_blank" %>

                    <%= link_to image_tag("https://s3-us-west-2.amazonaws.com/falconwood/social-media/website-link-yellow.png", :class => "tab-social-media-icon"), "http://www.zosoontour.com/", :target => "_blank" %>

                    <p class="m-t-10 m-l-5">NO COOLERS OR OUTSIDE CONCESSIONS, we will have food vendors and a full bar available. Chairs, blankets, and one sealed bottle of water are allowed</p>

                    <p class="m-t-10 m-l-5">Zoso–The Ultimate Led Zeppelin Experience formed in 1995 to perform the most accurate and captivating Led Zeppelin live show since the real thing. For Zoso, it’s much more than just being a tribute. It’s about touching a golden era in music. Zoso embodies Page, Plant, Bonham and Jones in their spirit, tightly wound talent and authenticity.</p>

                    <p class="m-t-10 m-l-5">If you missed Led Zeppelin live in the 70's or are looking to relive the "Hammer of the Gods" phenomenon, you must experience what the St. Petersburg Times calls "the most exacting of the Zeppelin tribute bands in existence."</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr>

          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Lineup/hullabaloo-2018-lineup.jpg", class:"half-col-img" %>
                </div>
                <div class="col-sm-12 col-md-6">
                  <h2 class="yellow text-center accent-font-2"><span class="lineup-title">Hullabaloo</span><br>Music &amp; Camping Festival</h2>
                  <h3 class="text-center ">July 19, 2018 - July 21, 2018</h3>
                  <div class="button-container">
                    <%= link_to "Purchase Tickets", "https://www.eventbrite.com/e/hullabaloo-2018-tickets-44693301869", class: "btn btn-secondary action-button", role: "button", :target => "_blank" %>
                  </div>
                  <div class="button-container">
                    <%= link_to image_tag("https://s3-us-west-2.amazonaws.com/falconwood/social-media/facebook.png", :class => "tab-social-media-icon"), "https://www.facebook.com/events/149722149002408/", :target => "_blank" %>

                    <%= link_to image_tag("https://s3-us-west-2.amazonaws.com/falconwood/social-media/website-link-yellow.png", :class => "tab-social-media-icon"), "http://www.hullabaloomusicfestival.com/", :target => "_blank" %>
                  </div>

                  <p class="m-t-10 m-l-5">Hullabaloo Music Festival is now in its eighth year and is well known for bringing in a mix of up and coming regional artists and the hottest touring national acts in the scene. We have a large scale production with an intimate, boutique festival feel as well as a family-friendly environment. Take a walk through our electric forest art installation or paint a canvas in our community art area.</p>
                </div>
              </div>
            </div>
          </div>

          <hr>

          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Lineup/fishfest-2018-lineup.jpg", class:"half-col-img" %>
                </div>
                <div class="col-sm-12 col-md-6">
                  <h2 class="yellow text-center accent-font-2"><span class="lineup-title">FishFest Omaha</span></h2>
                  <h3 class="text-center">July 28, 2018</h3>
                  <div class="button-container">
                    <%= link_to "Purchase Tickets", "http://www.fishfestomaha.com/", class: "btn btn-secondary action-button", role: "button", :target => "_blank" %>
                  </div>

                  <p class="m-t-10 m-l-5">FishFest Omaha has moved from an arena setting to the great outdoors in an effort to expand and offer a unique concert going experience. There will be 3 days of family-friendly entertainment, music, and praise at Nebraska's largest Christian Music Festival!</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="Calendar" class="tabcontent full-width">
          <div class="responsiveCal">
            <iframe src="https://calendar.google.com/calendar/embed?src=s15ajnt500binbtc9mt93ba5ls%40group.calendar.google.com&amp;ctz=America/Chicago" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- ******************* /Page Tabs ******************* -->