<!-- ******************* Header ******************* -->
  <div class="container-fluid">
    <div class="row">
      <div>
        <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Camping/2560x1200camping.jpg", class:"index-header-img" %>
      </div>
    </div>
  </div>
<!-- ******************* /Header ******************* -->

<!-- ******************* About ******************* -->
  <div id="about"></div>
  <div class="container">
    <div class="row content-container">
      <div class="col-sm-12 col-md-6">
        <h1 class="text-center content-header"><span class="accent-font-2">About our</span><br><span class="accent-font-1">Campground</span></h1>
        <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Camping/about-camping.png", class:"about-img"%>
      </div>
      <div class="col-sm-12 col-md-6">
        <p>Falconwood Park has a wide variety of camping options available. We offer primitive camping, glamping (glamorous camping), and seasonal RV spots.  Almost all of our events offer camping.  Falconwood Park has many amenities including 26 acres of shaded green space with sand volleyball, badminton, horseshoes, a playground, and fire-pits. We have a 6,000 square foot rustic lodge with open exposed beam wood ceilings, a kitchen, and a full-service bar.  There are modern bathrooms and a shower available as well.  For more information on glamping and seasonal RV spots check out the details page below.</p>

        <div class="button-container">
          <%= link_to "About Our Park", about_path, class: "btn btn-secondary action-button", role: "button" %>
        </div>
      </div>
    </div>
  </div>
<!-- ******************* /About ******************* -->

<!-- ******************* Page Tabs ******************* -->
  <div id="details"></div>
  <div class="container-fluid">
    <div class="row content-container background-black"
      <div class="col-sm-12">
        <div class="tab">
          <a href="javascript:void(0)" class="tablinks four" onclick="openCity(event, 'Details')" id="defaultOpen"><h3>Details</h3></a>
          <a href="javascript:void(0)" class="tablinks four" onclick="openCity(event, 'Gallery')"><h3>Gallery</h3></a>
          <a href="javascript:void(0)" class="tablinks four" onclick="openCity(event, 'Lineup')"><h3>Lineup</h3></a>
          <a href="javascript:void(0)" class="tablinks four" onclick="openCity(event, 'Calendar')"><h3>Calendar</h3></a>
        </div>

        <div id="Details" class="tabcontent container">
          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12">
              <h1 class="yellow text-center p-t-5 accent-font-1">Camping Info</h1>

              <h3 class="yellow text-center p-t-5 accent-font-2">Primitive Camping</h3>

              <p>Tent camping is no extra cost if you are attending a concert or wedding for the night unless it is otherwise noted.  On movie nights tent camping tickets are available for an extra $10 per tent.  We don't offer many opportunities to just come pitch a tent on the weekends as we have so many events booked but you can email <a class="black-background-link" href="mailto:falconwoodpark@gmail.com">falconwoodpark@gmail.com</a> to check.</p>

              <h3 class="yellow text-center p-t-5 accent-font-2">Glamping</h3>
              
              <p>Take advantage of the Omaha metro's first glamorous campground! We have four sites available to rent April 1st through October 31st. Show up early to spend the day in the park. We have firepits, horseshoes, sand volleyball, badminton, and a playground for the kids. There are modern restrooms and a shower available for your convenience. You can arrive at 3pm the day of your reservation with an 11am checkout the following day.</p>
               
              <p>Each 12x14 glamp tent comes with electricity, fans for the warmer weather, funky furnishings, and a queen size bed. We like to call it a 'hotel room in the woods'. This is a great way to experience camping, especially for those not wanting to leave behind their modern comforts and conveniences! Rent one for a date night or reserve yours during a wedding, concert, festival, company picnic, or drive-in movie night!</p>

              <h3 class="yellow text-center p-t-5 accent-font-2">Seasonal RV Spots</h3>
               
              <p>This weather has got us excited here at Falconwood Park!  We are excited to introduce our new SEASONAL RV PARKING!!  That's right folks, you can move into your very own spot at the park.  You will have VIP access to all of our amazing events and activities from concerts to drive-in movies!  Think of this as a box seat at a stadium, except you can sleep there too!</p>
               
              <p>Don't miss your chance to get in on the ground floor of the area’s newest and coolest RV camping.  These premium, oversized spots have been installed in our manicured forest area, providing shade and unmatched beauty for you and your family’s new favorite retreat.  Each spot will have water hookups and 20/30/50A service, individually metered.  You will be provided a zero maintenance lawn, 3 foot fire ring, picnic table, and UNLIMITED HIGH FIVES!  As mentioned before, you and your guests will be awarded an allotment of free tickets to each of our premier events including (but never limited to) Hullabaloo Music Festival, Fish Fest, summer and Halloween Drive-in Movie Series, Summer Concerts, Falconwood Fourth (July 4th) Party, and many more.  Each year we will have new and exciting events for you and your family!</p>
               
              <p>You can also rent out our facilities at a discounted rate (some restrictions may apply) for your weddings, company picnics, family reunions, and more!  Our pavilion/event space comes with bathrooms, a shower, kitchen, staging, and a fully stocked bar.  If you are in need of any extra ice, firewood, refreshments, or food just see our live-in park ranger, Ranger Bill, and he will get your order in and out to your site STAT!</p>
               
              <p>Our park also has amenities including badminton, volleyball, horseshoes, and a playground area for the young or young at heart!  We also have glamping accommodations for your guests if they wish to stay the night but want a little private retreat.</p>
               
              <p>The usable season, weather permitting, will be April 1st through November 1st.  However, your seasonal rate will include storage for the winter, so you never have to worry about moving your camper again!  No more having to park it in your driveway for the winter or storing it at a rental locker facility!  Just winterize and realize how easy this will make your life not having to deal with it <sup>1</sup>.</p>
               
              <p>This is a rare opportunity to get in on the ground level!  There are 15 year waitlists at campgrounds around the area!  Don't hesitate and let this slip by leaving you waiting another 10 years to find a spot.  We can accommodate all sizes, so sign up now!  If you would like to book or take a tour before you commit please contact Brandon Miller at <a class="black-background-link" href="tel:+4022104747">402.210.4747</a> or <a class="black-background-link" href="mailto:falconwoodpark@gmail.com">falconwoodpark@gmail.com</a>.  This is a family-friendly place, so bring your family to join ours!</p>
            </div>
          </div>
        </div>

        <div id="Gallery" class="tabcontent full-width">
          <div class="container-fluid p-0">
            <div id="gallery" style="display:none;">
              <a href="#">
                <img alt=""
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Camping/thumbs/campfire-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Camping/campfire.JPG"
                   data-description="Campers sitting around a campfire at Falconwood Park"
                   style="display:none">
              </a>

              <a href="#">
                <img alt=""
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Camping/thumbs/glamp-tent-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Camping/glamp-tent.jpg"
                   data-description="Outside of Glamp tent at Falconwood Park"
                   style="display:none">
              </a>

              <a href="#">
                <img alt=""
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Camping/thumbs/glamps-and-campers-at-night-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Camping/glamps-and-campers-at-night.JPG"
                   data-description="Falconwood Park campers and glamp sites illuminated at night"
                   style="display:none">
              </a>

              <a href="#">
                <img alt=""
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Camping/thumbs/glamps-and-campers-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Camping/glamps-and-campers.JPG"
                   data-description="Falconwood Park campers and glamp sites"
                   style="display:none">
              </a>

              <a href="#">
                <img alt=""
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Camping/thumbs/inside-glamp-tent-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Camping/inside-glamp-tent.jpg"
                   data-description="Interior of glamp site"
                   style="display:none">
              </a>
            </div>
          </div><!-- /container -->
        </div>

        <div id="Calendar" class="tabcontent full-width">
          <div class="responsiveCal">
            <iframe src="https://calendar.google.com/calendar/embed?src=s15ajnt500binbtc9mt93ba5ls%40group.calendar.google.com&amp;ctz=America/Chicago" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
          </div>
        </div>

        <div id="Lineup" class="tabcontent container">
          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Lineup/FFOmaha2017_Poster_11x17_Reveal7.jpg", class:"half-col-img" %>
                </div>
                <div class="col-sm-12 col-md-6">
                  <h2 class="yellow text-center accent-font-2"><span class="lineup-title">FishFest</span></h2>
                  <h3 class="text-center">July 28, 2017 - July 30, 2017</h3>
                  <div class="button-container">
                    <%= link_to "Purchase Tickets", "http://www.fishfestomaha.com/", class: "btn btn-secondary action-button", role: "button", :target => "_blank" %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr>

          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Lineup/Hullabaloo+Courtney.jpg", class:"half-col-img" %>
                </div>
                <div class="col-sm-12 col-md-6">
                  <h2 class="yellow text-center accent-font-2"><span class="lineup-title">Hullabaloo</span><br>Music &amp; Camping Festival</h2>
                  <h3 class="text-center ">August 3, 2017 - August 5, 2017</h3>
                  <div class="button-container">
                    <%= link_to "Purchase Tickets", "https://www.eventbrite.com/e/hullabaloo-2017-tickets-32895449174", class: "btn btn-secondary action-button", role: "button", :target => "_blank" %>
                  </div>
                  <div class="button-container">
                    <%= link_to image_tag("https://s3-us-west-2.amazonaws.com/falconwood/social-media/facebook.png", :class => "tab-social-media-icon"), "https://www.facebook.com/events/1879134145704315/", :target => "_blank" %>

                    <%= link_to image_tag("https://s3-us-west-2.amazonaws.com/falconwood/social-media/website-link-yellow.png", :class => "tab-social-media-icon"), "http://www.hullabaloomusicfestival.com/", :target => "_blank" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- ******************* /Page Tabs ******************* -->