<!-- ******************* Header ******************* -->
  <div class="container-fluid">
    <div class="row">
      <div>
        <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Camping/2560x1200camping.jpg", class:"index-header-img" %>
      </div>
    </div>
  </div>
<!-- ******************* /Header ******************* -->

<!-- ******************* About ******************* -->
  <div id="about"></div>
  <div class="container">
    <div class="row content-container">
      <div class="col-sm-12 col-md-6">
        <h1 class="text-center content-header"><span class="accent-font-2">About our</span><br><span class="accent-font-1">Campground</span></h1>
        <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Camping/about-camping.png", class:"about-img"%>
      </div>
      <div class="col-sm-12 col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <a href="/about" class="btn btn-secondary action-button" role="button">About Our Park</a>
      </div>
    </div>
  </div>
<!-- ******************* /About ******************* -->

<!-- ******************* Page Tabs ******************* -->
  <div id="details"></div>
  <div class="container-fluid">
    <div class="row content-container background-black"
      <div class="col-sm-12">
        <div class="tab">
          <a href="javascript:void(0)" class="tablinks four" onclick="openCity(event, 'Details')"  id="defaultOpen"><h3>Details</h3></a>
          <a href="javascript:void(0)" class="tablinks four" onclick="openCity(event, 'Gallery')"><h3>Gallery</h3></a>
          <a href="javascript:void(0)" class="tablinks four" onclick="openCity(event, 'Calendar')"><h3>Calendar</h3></a>
          <a href="javascript:void(0)" class="tablinks four" onclick="openCity(event, 'Lineup')"><h3>Lineup</h3></a>
        </div>

        <div id="Details" class="tabcontent container">
          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12">
              <h1 class="yellow text-center p-b-5 accent-font-1">Details</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>

        <div id="Gallery" class="tabcontent full-width">
          <div class="container-fluid p-0">
            <div id="gallery" style="display:none;">
              <a href="#">
              <img alt="Campfire"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Camping/thumbs/campfire-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Camping/campfire.JPG"
                   data-description="This is a Lemon Slice"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Glamp Tents"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Camping/thumbs/glamp-tent-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Camping/glamp-tent.jpg"
                   data-description="Those are peppers"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Gamp tents and campers at night"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Camping/thumbs/glamps-and-campers-at-night-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Camping/glamps-and-campers-at-night.JPG"
                   data-description="Those are keys"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Gamp tents and campers"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Camping/thumbs/glamps-and-campers-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Camping/glamps-and-campers.JPG"
                   data-description="Those are friuts in a cup"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Inside a glamp tent"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Camping/thumbs/inside-glamp-tent-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Camping/inside-glamp-tent.jpg"
                   data-description="Those are yellow flowers"
                   style="display:none">
              </a>
            </div>
          </div><!-- /container -->
        </div>

        <div id="Calendar" class="tabcontent full-width">
          <div class="responsiveCal">
            <iframe src="https://calendar.google.com/calendar/embed?src=s15ajnt500binbtc9mt93ba5ls%40group.calendar.google.com&amp;ctz=America/Chicago" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
          </div>
        </div>


        <div id="Lineup" class="tabcontent container">
          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Lineup/zoso2.jpg", class:"half-col-img" %>
                </div>
                <div class="col-sm-12 col-md-6">
                  <h2 class="yellow text-center p-b-5 accent-font-2"><span class="lineup-title">Zoso</span><br>The Ultimate Led Zeppelin Experience</h2>
                  <h4 class="text-center p-t-5">April 15, 2017</h4>
                  <div class="button-container">
                    <a href="https://www.eventbrite.com/e/zoso-the-ultimate-led-zeppelin-experience-tickets-32840456690" class="btn btn-secondary action-button" role="button">Purchase Tickets</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr>

          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Lineup/FFOmaha2017_Poster_11x17_Reveal7.jpg", class:"half-col-img" %>
                </div>
                <div class="col-sm-12 col-md-6">
                  <h2 class="yellow text-center p-b-5 accent-font-2"><span class="lineup-title">FishFest</span></h2>
                  <h4 class="text-center p-t-5">July 28, 2017 - July 30, 2017</h4>
                  <div class="button-container">
                    <a href="http://www.fishfestomaha.com" class="btn btn-secondary action-button" role="button">Purchase Tickets</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr>

          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Lineup/Hullabaloo+Courtney.jpg", class:"half-col-img" %>
                </div>
                <div class="col-sm-12 col-md-6">
                  <h2 class="yellow text-center p-b-5 accent-font-2"><span class="lineup-title">Hullabaloo</span><br>Music &amp; Camping Festival</h2>
                  <h4 class="text-center p-t-5">August 3, 2017 - August 5, 2017</h4>
                  <div class="button-container">
                    <a href="https://www.eventbrite.com/e/hullabaloo-2017-tickets-32895449174" class="btn btn-secondary action-button" role="button">Purchase Tickets</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- ******************* /Page Tabs ******************* -->

  <div id="contact"></div>