<!-- ******************* Header ******************* -->
  <div class="container-fluid">
    <div class="row">
      <div>
        <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/2560x1200drivein-goonies-new.jpg", class:"index-header-img" %>
      </div>
    </div>
  </div>
<!-- ******************* /Header ******************* -->

<!-- ******************* About ******************* -->
  <div id="about"></div>
  <div class="container">
    <div class="row content-container">
      <div class="col-sm-12 col-md-6">
        <h1 class="text-center content-header"><span class="accent-font-2">About our</span><br><span class="accent-font-1">Drive-In</span></h1>
        <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/about-drivein.jpg", class:"about-img"%>
      </div>
      <div class="col-sm-12 col-md-6">
        <p>For years Omaha and the surrounding markets have felt the drive-in drought.  After the last theater closed in Council Bluffs the community was left with a void.  Facebook pages were born and many people talked about the idea of opening up a new place to host this long-time favorite cinema experience.  Falconwood Park heard your voices and opened up the first drive-in movie theater this area has seen in over a decade!</p>

        <p>Our first summer series was immensely popular prompting sellouts for most movies.  We were greatly humbled and hope to see your continued support of this venture so we can keep the format alive for years to come!  This year we are back and better than ever applying much of what we learned to provide you with the most authentic experience!</p>

        <div class="button-container">
          <%= link_to "About Our Park", about_path, class: "btn btn-secondary action-button", role: "button" %>
        </div>
      </div>
    </div>
  </div>
<!-- ******************* /About ******************* -->

<!-- ******************* Page Tabs ******************* -->
  <div id="details"></div>
  <div class="container-fluid">
    <div class="row content-container background-black md-grey-font"
      <div class="col-sm-12">
        <div class="tab">
          <a href="javascript:void(0)" class="tablinks four" onclick="openCity(event, 'Details')"><h3>Details</h3></a>
          <a href="javascript:void(0)" class="tablinks four" onclick="openCity(event, 'Gallery')"><h3>Gallery</h3></a>
          <a href="javascript:void(0)" class="tablinks four" onclick="openCity(event, 'Lineup')" id="defaultOpen"><h3>Lineup</h3></a>
          <a href="javascript:void(0)" class="tablinks four" onclick="openCity(event, 'Calendar')"><h3>Calendar</h3></a>
        </div>

        <div id="Details" class="tabcontent container">
          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12">

              <h1 class="yellow text-center p-t-5 accent-font-1">Ticket Info</h1>

              <ul class="yellow text-center p-t-5 p-b-5 accent-font-2">
                <li>Single Passenger - $7 per vehicle</li>
                <li>Two Passengers - $14 per vehicle</li>
                <li>Three or More Passengers - $20 per vehicle</li>
              </ul>

              <p>Falconwood Park does sell drive-in tickets at the gate, however, we <em>strongly</em> recommend purchasing your tickets ahead of time online as drive-in spots are limited and do quite frequently sell out.  Online ticket sales for each show will end an hour before gates open. Tickets for our drive-in are priced per vehicle and are based on occupancy.</p>

              <p>All movies start at dusk with the gates opening 2 hours prior.  Times will be posted on each individual film.</p>

              <h3 class="yellow text-center p-t-5 accent-font-2">Drive-In Passes</h3>

              <p>A Drive-In pass is guaranteed a drive-in parking spot.  150 Drive-in spots are available. Spots are filled on a first come first serve basis.</p>

              <h3 class="yellow text-center p-t-5 accent-font-2">Park and Walk Passes</h3>

              <p>Once the drive-in spots have been filled we have additional ticketing called a Park and Walk. Park and Walk patrons will park in a separate lot and are encouraged to bring blankets or chairs up to the viewing area in front of the screen to view the movie or meet up with your friends at their car. If you are getting tickets at the gate we suggest that you bring seating just in case we sell out of drive-in spots.</p>

              <h3 class="yellow text-center p-t-5 accent-font-2">Tent Passes</h3>

              <p>In addition to your Drive-In or Park and Walk pass, if you would like to camp after the show, you may purchase a tent pass for an extra $10 charge per tent.</p>

              <h1 class="yellow text-center p-t-5 accent-font-1">Concessions</h1>

              <p>Food trucks, a bar, and concessions are available at the venue and we encourage your patronage! No outside alcohol is allowed inside the park.</p>

              <h1 class="yellow text-center p-t-5 accent-font-1">FAQs</h1>

              <p><span class="yellow">Can I bring my own food?</span><br>Yes, we do offer food from our food trucks and concessions but feel free to pack a cooler and bring in any other munchies your tummy desires.</p>

              <p><span class="yellow">Can I bring my own alcohol?</span><br>No, Falconwood Park has a liquor license and due to legal regulations no outside alcohol is allowed inside the park. We do have a bar next to concessions to purchase adult beverages from.</p>

              <p><span class="yellow">Can I bring my dog?</span><br>Yes, as long as they are well behaved and kept on a leash.</p>

              <p><span class="yellow">Do children get in free?</span><br>Children 2 years old and under may enter the park for free.</p>

              <p><span class="yellow">Do I have to sit in my car if I buy a drive-in pass?</span><br>No, feel free to get out and set up your chairs near your car or move your chairs to the front viewing area.</p>

              <p><span class="yellow">What time should we show up for a good drive-in spot?</span><br>The gates open at 7 p.m. so plan on showing up then for the best drive-in spot.  If you arrive before 7 p.m. you will be asked to wait until the designated time for us to park you.</p>

              <p><span class="yellow">What time should we come if we're going to camp after the movie?</span><br>Just make sure you get here early enough to set up your campsite before the movie starts.</p>

              <h1 class="yellow text-center p-t-5 accent-font-1">Booking</h1>

              <p>To book a private drive-in movie event at Falconwood Park email Brandon Miller at <a class="black-background-link" href="mailto:falconwoodpark@gmail.com">falconwoodpark@gmail.com</a>.  We will work with you to provide the best environment for the success of your event.</p>
 
              <p>Check out our calendar for dates, times, and tickets.</p>

            </div>
          </div>
        </div>

        <div id="Gallery" class="tabcontent full-width">
          <div class="container-fluid p-0">
            <div id="gallery" style="display:none;">
              <a href="#">
              <img alt="Photo courtesy of Tom Rupp"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/thumbs/Drive-in1-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/Drive-in1.jpg"
                   data-description=“Drive-in screen at Falconwood Park”
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Tom Rupp"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/thumbs/Drive-in2-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/Drive-in2.jpg"
                   data-description="Drive-in screen with cars parked in lot at Falconwood Park"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of  Tom Rupp"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/thumbs/crowd-up-front-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/crowd-up-front.jpg"
                   data-description="Crowd of people in viewing area at Falconwood park drive-in"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Tom Rupp"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/thumbs/cute-couple-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/cute-couple.jpg"
                   data-description="Couple in truck at Falconwood Park drive-in"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Tom Rupp"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/thumbs/family-in-truck-bed-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/family-in-truck-bed.jpg"
                   data-description="Family in truck at Falconwood Park drive-in"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Tom Rupp"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/thumbs/family-with-blankets-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/family-with-blankets.jpg"
                   data-description="Family in viewing area at Falconwood Park drive-in"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Tom Rupp"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/thumbs/girls-watching-star-wars-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/girls-watching-star-wars.jpg"
                   data-description="Girls sitting on car roof watching the screen at Falconwood Park drive-in"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Tom Rupp"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/thumbs/grilling-food-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/grilling-food.jpg"
                   data-description="Vendor grilling food at Falconwood Park drive-in"
                   style="display:none">
              </a>

              <a href="#">
              <img alt="Photo courtesy of Tom Rupp"
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/thumbs/little-girl-cheezin-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/little-girl-cheezin.jpg"
                   data-description="Mother applying sunscreen to children at Falconwood Park drive-in"
                   style="display:none">
              </a>

              <a href="#">
              <img alt=""
                   src="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/thumbs/screen-with-crowd-thumb.jpg"
                   data-image="https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/screen-with-crowd.jpg"
                   data-description="Drive-in screen with crowd in viewing area at Falconwood Park"
                   style="display:none">
              </a>
            </div>
          </div><!-- /container -->
        </div>

        <div id="Calendar" class="tabcontent full-width">
          <div class="responsiveCal">
            <iframe src="https://calendar.google.com/calendar/embed?src=s15ajnt500binbtc9mt93ba5ls%40group.calendar.google.com&amp;ctz=America/Chicago" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
          </div>
        </div>

        <div id="Lineup" class="tabcontent container">
          <!-- Harry Potter -->
          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/posters/harry-potter-chamber-secrets.jpg", class:"half-col-img" %>
                </div>
                <div class="col-sm-12 col-md-6">
                  <h2 class="yellow text-center accent-font-2"><span class="lineup-title">Harry Potter</span><br>and the Chamber of Secrets</h2>
                  <h3 class="text-center yellow">September 29, 2017</h3>
                  <h4 class="text-center">Gates Open: <span class="yellow">6:00 p.m.</span><br>Movie Start Time: <span class="yellow">8:00 p.m.</span></h4>
                  
                  <div class="button-container">
                    <%= link_to "Purchase Tickets", "https://www.eventbrite.com/e/harry-potter-and-the-chamber-of-secrets-drive-in-movie-night-tickets-38153987604", class: "btn btn-secondary action-button", role: "button", :target => "_blank" %>
                  </div>

                  <p class="m-t-10 m-l-5">The follow-up to "Harry Potter and the Sorcerer's Stone" finds young wizard Harry Potter (Daniel Radcliffe) and his friends, Ron (Rupert Grint) and Hermione (Emma Watson), facing new challenges during their second year at Hogwarts School of Witchcraft and Wizardry as they try to discover a dark force that is terrorizing the school.</p>
                </div>
              </div>
            </div>
          </div>
          <hr>

          <!-- Back to the Future -->
          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/posters/back-to-the-future.jpg", class:"half-col-img" %>
                </div>
                <div class="col-sm-12 col-md-6">
                  <h2 class="yellow text-center accent-font-2"><span class="lineup-title">Back to the Future</span></h2>
                  <h3 class="text-center yellow">October 1, 2017</h3>
                  <h4 class="text-center">Gates Open: <span class="yellow">5:00 p.m.</span><br>Movie Start Time: <span class="yellow">7:00 p.m.</span></h4>
                  
                  <div class="button-container">
                    <%= link_to "Purchase Tickets", "https://www.eventbrite.com/e/back-to-the-future-drive-in-movie-night-tickets-38154658611", class: "btn btn-secondary action-button", role: "button", :target => "_blank" %>
                  </div>

                  <p class="m-t-10 m-l-5">In this 1980s sci-fi classic, small-town California teen Marty McFly (Michael J. Fox) is thrown back into the '50s when an experiment by his eccentric scientist friend Doc Brown (Christopher Lloyd) goes awry. Traveling through time in a modified DeLorean car, Marty encounters young versions of his parents (Crispin Glover, Lea Thompson), and must make sure that they fall in love or he'll cease to exist. Even more dauntingly, Marty has to return to his own time and save the life of Doc Brown.</p>
                </div>
              </div>
            </div>
          </div>
          <hr>

          <!-- Men in Black -->
          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/posters/men-in-black.jpg", class:"half-col-img" %>
                </div>
                <div class="col-sm-12 col-md-6">
                  <h2 class="yellow text-center accent-font-2"><span class="lineup-title">Men in Black</span></h2>
                  <h3 class="text-center yellow">October 5, 2017</h3>
                  <h4 class="text-center">Gates Open: <span class="yellow">5:00 p.m.</span><br>Movie Start Time: <span class="yellow">7:00 p.m.</span></h4>
                  
                  <div class="button-container">
                    <%= link_to "Purchase Tickets", "https://www.eventbrite.com/e/men-in-black-drive-in-movie-night-tickets-38154845169", class: "btn btn-secondary action-button", role: "button", :target => "_blank" %>
                  </div>

                  <p class="m-t-10 m-l-5">They are the best-kept secret in the universe. Working for a highly funded yet unofficial government agency, Kay (Tommy Lee Jones) and Jay (Will Smith) are the Men in Black, providers of immigration services and regulators of all things alien on Earth. While investigating a series of unregistered close encounters, the MIB agents uncover the deadly plot of an intergalactic terrorist who is on a mission to assassinate two ambassadors from opposing galaxies currently in residence in New York City.</p>
                </div>
              </div>
            </div>
          </div>
          <hr>

          <!-- Rocky Horror -->
          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/posters/rocky-horror-picture-show.jpg", class:"half-col-img" %>
                </div>
                <div class="col-sm-12 col-md-6">
                  <h2 class="yellow text-center accent-font-2"><span class="lineup-title">Rocky Horror Picture Show</span></h2>
                  <h3 class="text-center yellow">October 10, 2017</h3>
                  <h4 class="text-center">Gates Open: <span class="yellow">8:00 p.m.</span><br>Movie Start Time: <span class="yellow">10:00 p.m.</span></h4>
                  
                  <div class="button-container">
                    <%= link_to "Purchase Tickets", "https://www.eventbrite.com/e/rocky-horror-picture-show-drive-in-movie-night-tickets-38155034736", class: "btn btn-secondary action-button", role: "button", :target => "_blank" %>
                  </div>

                  <p class="m-t-10 m-l-5">In this cult classic, sweethearts Brad (Barry Bostwick) and Janet (Susan Sarandon), stuck with a flat tire during a storm, discover the eerie mansion of Dr. Frank-N-Furter (Tim Curry), a transvestite scientist. As their innocence is lost, Brad and Janet meet a houseful of wild characters, including a rocking biker (Meat Loaf) and a creepy butler (Richard O'Brien). Through elaborate dances and rock songs, Frank-N-Furter unveils his latest creation: a muscular man named "Rocky."</p>
                </div>
              </div>
            </div>
          </div>
          <hr>

          <!-- Nightmare Before Christmas -->
          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/posters/nightmare-before-christmas.jpg", class:"half-col-img" %>
                </div>
                <div class="col-sm-12 col-md-6">
                  <h2 class="yellow text-center accent-font-2"><span class="lineup-title">The Nightmare Before Christmas</span></h2>
                  <h3 class="text-center yellow">October 8, 2017</h3>
                  <h4 class="text-center">Gates Open: <span class="yellow">5:00 p.m.</span><br>Movie Start Time: <span class="yellow">7:00 p.m.</span></h4>
                  
                  <div class="button-container">
                    <%= link_to "Purchase Tickets", "https://www.eventbrite.com/e/the-nightmare-before-christmas-drive-in-movie-night-tickets-38155217282", class: "btn btn-secondary action-button", role: "button", :target => "_blank" %>
                  </div>

                  <p class="m-t-10 m-l-5">The film follows the misadventures of Jack Skellington, Halloweentown's beloved pumpkin king, who has become bored with the same annual routine of frightening people in the "real world." When Jack accidentally stumbles on Christmastown, all bright colors and warm spirits, he gets a new lease on life -- he plots to bring Christmas under his control by kidnapping Santa Claus and taking over the role. But Jack soon discovers even the best-laid plans of mice and skeleton men can go seriously awry.</p>
                </div>
              </div>
            </div>
          </div>
          <hr>

          <!-- Zombieland -->
          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/posters/zombie-land.jpg", class:"half-col-img" %>
                </div>
                <div class="col-sm-12 col-md-6">
                  <h2 class="yellow text-center accent-font-2"><span class="lineup-title">Zombieland</span></h2>
                  <h3 class="text-center yellow">October 12, 2017</h3>
                  <h4 class="text-center">Gates Open: <span class="yellow">5:00 p.m.</span><br>Movie Start Time: <span class="yellow">7:00 p.m.</span></h4>
                  
                  <div class="button-container">
                    <%= link_to "Purchase Tickets","https://www.eventbrite.com/e/zombieland-drive-in-movie-night-tickets-38155475053", class: "btn btn-secondary action-button", role: "button", :target => "_blank" %>
                  </div>

                  <p class="m-t-10 m-l-5">After a virus turns most people into zombies, the world's surviving humans remain locked in an ongoing battle against the hungry undead. Four survivors -- Tallahassee (Woody Harrelson) and his cohorts Columbus (Jesse Eisenberg), Wichita (Emma Stone) and Little Rock (Abigail Breslin) -- abide by a list of survival rules and zombie-killing strategies as they make their way toward a rumored safe haven in Los Angeles.</p>
                </div>
              </div>
            </div>
          </div>
          <hr>

          <!-- Hotel Transylvania -->
          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/posters/hotel-transylvania.jpg", class:"half-col-img" %>
                </div>
                <div class="col-sm-12 col-md-6">
                  <h2 class="yellow text-center accent-font-2"><span class="lineup-title">Hotel Transylvania</span></h2>
                  <h3 class="text-center yellow">October 15, 2017</h3>
                  <h4 class="text-center">Gates Open: <span class="yellow">4:45 p.m.</span><br>Movie Start Time: <span class="yellow">6:45 p.m.</span></h4>
                  
                  <div class="button-container">
                    <%= link_to "Purchase Tickets", "https://www.eventbrite.com/e/hotel-transylvania-drive-in-movie-night-tickets-38161129967", class: "btn btn-secondary action-button", role: "button", :target => "_blank" %>
                  </div>

                  <p class="m-t-10 m-l-5">When monsters want to get away from it all, they go to Count Dracula's (Adam Sandler) Hotel Transylvania, a lavish resort where they can be themselves without humans around to bother them. On one special weekend, Dracula invites creatures like the Invisible Man, the Mummy and others to celebrate the 118th birthday of his daughter, Mavis (Selena Gomez). However, an unforeseen complication unfolds when an ordinary human unwittingly crashes the party and falls in love with Mavis.</p>
                </div>
              </div>
            </div>
          </div>
          <hr>

          <!-- Jaws -->
          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/posters/jaws.jpg", class:"half-col-img" %>
                </div>
                <div class="col-sm-12 col-md-6">
                  <h2 class="yellow text-center accent-font-2"><span class="lineup-title">Jaws</span></h2>
                  <h3 class="text-center yellow">October 19, 2017</h3>
                  <h4 class="text-center">Gates Open: <span class="yellow">4:45 p.m.</span><br>Movie Start Time: <span class="yellow">6:45 p.m.</span></h4>
                  
                  <div class="button-container">
                    <%= link_to "Purchase Tickets", "https://www.eventbrite.com/e/jaws-drive-in-movie-night-tickets-38161972487", class: "btn btn-secondary action-button", role: "button", :target => "_blank" %>
                  </div>

                  <p class="m-t-10 m-l-5">When a young woman is killed by a shark while skinny-dipping near the New England tourist town of Amity Island, police chief Martin Brody (Roy Scheider) wants to close the beaches, but mayor Larry Vaughn (Murray Hamilton) overrules him, fearing that the loss of tourist revenue will cripple the town. Ichthyologist Matt Hooper (Richard Dreyfuss) and grizzled ship captain Quint (Robert Shaw) offer to help Brody capture the killer beast, and the trio engage in an epic battle of man vs. nature.</p>
                </div>
              </div>
            </div>
          </div>
          <hr>

          <!-- ET -->
          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/posters/et.png", class:"half-col-img" %>
                </div>
                <div class="col-sm-12 col-md-6">
                  <h2 class="yellow text-center accent-font-2"><span class="lineup-title">E.T.</span></h2>
                  <h3 class="text-center yellow">October 22, 2017</h3>
                  <h4 class="text-center">Gates Open: <span class="yellow">4:30 p.m.</span><br>Movie Start Time: <span class="yellow">6:30 p.m.</span></h4>
                  
                  <div class="button-container">
                    <%= link_to "Purchase Tickets", "https://www.eventbrite.com/e/et-drive-in-movie-night-tickets-38162664557", class: "btn btn-secondary action-button", role: "button", :target => "_blank" %>
                  </div>

                  <p class="m-t-10 m-l-5">After a gentle alien becomes stranded on Earth, the being is discovered and befriended by a young boy named Elliott (Henry Thomas). Bringing the extraterrestrial into his suburban California house, Elliott introduces E.T., as the alien is dubbed, to his brother and his little sister, Gertie (Drew Barrymore), and the children decide to keep its existence a secret. Soon, however, E.T. falls ill, resulting in government intervention and a dire situation for both Elliott and the alien.</p>
                </div>
              </div>
            </div>
          </div>
          <hr>

          <!-- Nightmare On Elm Street -->
          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/posters/nightmare-on-elm-street.jpg", class:"half-col-img" %>
                </div>
                <div class="col-sm-12 col-md-6">
                  <h2 class="yellow text-center accent-font-2"><span class="lineup-title">A Nightmare on Elm Street</span></h2>
                  <h3 class="text-center yellow">July 6, 2017</h3>
                  <h4 class="text-center">Gates Open: <span class="yellow">4:30 p.m.</span><br>Movie Start Time: <span class="yellow">6:30 p.m.</span></h4>
                  
                  <div class="button-container">
                    <%= link_to "Purchase Tickets", "https://www.eventbrite.com/e/a-nightmare-on-elm-street-drive-in-movie-night-tickets-38163183108", class: "btn btn-secondary action-button", role: "button", :target => "_blank" %>
                  </div>

                  <p class="m-t-10 m-l-5">In Wes Craven's classic slasher film, several Midwestern teenagers fall prey to Freddy Krueger (Robert Englund), a disfigured midnight mangler who preys on the teenagers in their dreams -- which, in turn, kills them in reality. After investigating the phenomenon, Nancy (Heather Langenkamp) begins to suspect that a dark secret kept by her and her friends' parents may be the key to unraveling the mystery, but can Nancy and her boyfriend Glen (Johnny Depp) solve the puzzle before it's too late?</p>
                </div>
              </div>
            </div>
          </div>
          <hr>

          <!-- Hocus Pocus/Monster House -->
          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/posters/hocus-pocus-monster-house.png", class:"half-col-img" %>
                </div>
                <div class="col-sm-12 col-md-6">
                  <h2 class="yellow text-center accent-font-2"><span class="lineup-title">Hocus Pocus/Monster House</span><br>Double Feature</h2>
                  <h3 class="text-center yellow">October 28, 2017</h3>
                  <h4 class="text-center">Gates Open: <span class="yellow">4:30 p.m.</span><br>Hocus Pocus Start Time: <span class="yellow">6:30 p.m.</span><br>Monster House Start Time: <span class="yellow">8:30 p.m.</span></h4>
                  
                  <div class="button-container">
                    <%= link_to "Purchase Tickets", "https://www.eventbrite.com/e/hocus-pocusmonster-house-double-feature-drive-in-movie-night-tickets-38164221213", class: "btn btn-secondary action-button", role: "button", :target => "_blank" %>
                  </div>

                  <p class="m-t-10 m-l-5"><span class="yellow text-center accent-font-2">Hocus Pocus: </span>After moving to Salem, Mass., teenager Max Dennison (Omri Katz) explores an abandoned house with his sister Dani (Thora Birch) and their new friend, Allison (Vinessa Shaw). After dismissing a story Allison tells as superstitious, Max accidentally frees a coven of evil witches (Bette Midler, Sarah Jessica Parker, Kathy Najimy) who used to live in the house. Now, with the help of a magical cat, the kids must steal the witches' book of spells to stop them from becoming immortal.</p>

                  <p class="m-t-10 m-l-5"><span class="yellow text-center accent-font-2">Monster House: </span>No adults believe three youths' (Mitchel Musso, Spencer Locke, Sam Lerner) assertion that a neighboring residence is a living creature that means them harm. With Halloween approaching, the trio must find a way to destroy the structure before innocent trick-or-treaters meet ghastly ends.</p>
                </div>
              </div>
            </div>
          </div>
          <hr>

          <!-- Hocus Pocus/Cabin in the Woods -->
          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <%= image_tag "https://s3-us-west-2.amazonaws.com/falconwood/Drive-In/posters/hocus-pocus-cabin-in-the-woods.png", class:"half-col-img" %>
                </div>
                <div class="col-sm-12 col-md-6">
                  <h2 class="yellow text-center accent-font-2"><span class="lineup-title">Hocus Pocus/Cabin in the Woods</span><br>Double Feature</h2>
                  <h3 class="text-center yellow">October 28, 2017</h3>
                  <h4 class="text-center">Gates Open: <span class="yellow">4:30 p.m.</span><br>Hocus Pocus Start Time: <span class="yellow">6:30 p.m.</span><br>Cabin in the Woods Start Time: <span class="yellow">8:30 p.m.</span></h4>
                  
                  <div class="button-container">
                    <%= link_to "Purchase Tickets", "https://www.eventbrite.com/e/hocus-pocuscabin-in-the-woods-double-feature-drive-in-movie-night-tickets-38164496035", class: "btn btn-secondary action-button", role: "button", :target => "_blank" %>
                  </div>

                  <p class="m-t-10 m-l-5"><span class="yellow text-center accent-font-2">Hocus Pocus: </span>After moving to Salem, Mass., teenager Max Dennison (Omri Katz) explores an abandoned house with his sister Dani (Thora Birch) and their new friend, Allison (Vinessa Shaw). After dismissing a story Allison tells as superstitious, Max accidentally frees a coven of evil witches (Bette Midler, Sarah Jessica Parker, Kathy Najimy) who used to live in the house. Now, with the help of a magical cat, the kids must steal the witches' book of spells to stop them from becoming immortal.</p>

                  <p class="m-t-10 m-l-5"><span class="yellow text-center accent-font-2">Cabin in the Woods: </span>When five college friends (Kristen Connolly, Chris Hemsworth, Anna Hutchison, Fran Kranz, Jesse Williams) arrive at a remote forest cabin for a little vacation, little do they expect the horrors that await them. One by one, the youths fall victim to backwoods zombies, but there is another factor at play. Two scientists (Richard Jenkins, Bradley Whitford) are manipulating the ghoulish goings-on, but even as the body count rises, there is yet more at work than meets the eye.</p>
                </div>
              </div>
            </div>
          </div>
          <hr>

          <div class="row p-t-5 p-b-5">
            <div class="col-sm-12">
              <p class="text-center">Make sure to check back for new movies and updates!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- ******************* /Page Tabs ******************* -->