<!DOCTYPE html>
<html>
  <head>
    <title>Falconwood Park</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

   

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" %>

    <!-- ******************* image gallery scripts ******************* -->
    <script type='text/javascript' src='/assets/jquery-11.0.min.js'></script> 
    <script type='text/javascript' src='/assets/unitegallery.min.js'></script>  

    <link rel='stylesheet' href='/assets/unite-gallery.css' type='text/css' />
  
    <script type='text/javascript' src='/assets/ug-theme-tiles.js'></script>
    <!-- ******************* /image gallery scripts ******************* -->
  </head>

  <body>
    <!-- if url is the root include header without nav else include header with nav -->
    <%= 
      if current_page?('/')
        render :partial => "layouts/header"
      else
        render :partial => "layouts/navigation"
      end 
    %>

    <%= yield %>

    <%= 
      unless current_page?('/')
        render :partial => "layouts/footer"
      end 
    %>

    <script type="text/javascript">

      jQuery(document).ready(function(){

        jQuery("#gallery").unitegallery();

      });
      
    </script>
  </body>
</html>
