<!DOCTYPE html>
<html>
  <head>
    <title>Falconwood</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>

  <body>
    <!-- if url is the root include header without nav else include header with nav -->
    <%= 
      if current_page?('/')
        render :partial => "layouts/header"
      else
        render :partial => "layouts/navigation"
      end 
    %>

    <%= yield %>

    <%= 
      unless current_page?('/')
        render :partial => "layouts/footer"
      end 
    %>
  </body>
</html>
